:root {
    --p-color-white: #ffffff;
    --p-color-black: #000000;
    --p-color-primary-rgb: 64, 158, 255;
    --p-color-success-rgb: 103, 194, 58;
    --p-color-warning-rgb: 230, 162, 60;
    --p-color-danger-rgb: 245, 108, 108;
    --p-color-error-rgb: 245, 108, 108;
    --p-color-info-rgb: 144, 147, 153;
    --p-font-size-extra-large: 20px;
    --p-font-size-large: 18px;
    --p-font-size-medium: 16px;
    --p-font-size-base: 14px;
    --p-font-size-small: 13px;
    --p-font-size-extra-small: 12px;
    --p-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    --p-font-weight-primary: 500;
    --p-font-line-height-primary: 24px;
    --p-index-normal: 1;
    --p-index-top: 1000;
    --p-index-popper: 2000;
    --p-border-radius-base: 4px;
    --p-border-radius-small: 2px;
    --p-border-radius-round: 20px;
    --p-border-radius-circle: 100%;
    --p-transition-duration: .3s;
    --p-transition-duration-fast: .2s;
    --p-transition-function-ease-in-out-bezier: cubip-bezier(.645, .045, .355, 1);
    --p-transition-function-fast-bezier: cubip-bezier(.23, 1, .32, 1);
    --p-transition-all: all var(--transition-duration) var(--transition-function-ease-in-out-bezier);
    --p-transition-fade: opacity var(--transition-duration) var(--transition-function-fast-bezier);
    --p-transition-md-fade: transform var(--transition-duration) var(--transition-function-fast-bezier), opacity var(--transition-duration) var(--transition-function-fast-bezier);
    --p-transition-fade-linear: opacity var(--transition-duration-fast) linear;
    --p-transition-border: border-color var(--transition-duration-fast) var(--transition-function-ease-in-out-bezier);
    --p-transition-box-shadow: box-shadow var(--transition-duration-fast) var(--transition-function-ease-in-out-bezier);
    --p-transition-color: color var(--transition-duration-fast) var(--transition-function-ease-in-out-bezier);
    --p-component-size-large: 40px;
    --p-component-size: 32px;
    --p-component-size-small: 24px
}

:root {
    --p-color-primary: #409eff;
    --p-color-primary-light-3: rgb(121.3, 187.1, 255);
    --p-color-primary-light-5: rgb(159.5, 206.5, 255);
    --p-color-primary-light-7: rgb(197.7, 225.9, 255);
    --p-color-primary-light-8: rgb(216.8, 235.6, 255);
    --p-color-primary-light-9: rgb(235.9, 245.3, 255);
    --p-color-primary-dark-2: rgb(51.2, 126.4, 204);
    --p-color-success: #67c23a;
    --p-color-success-light-3: rgb(148.6, 212.3, 117.1);
    --p-color-success-light-5: rgb(179, 224.5, 156.5);
    --p-color-success-light-7: rgb(209.4, 236.7, 195.9);
    --p-color-success-light-8: rgb(224.6, 242.8, 215.6);
    --p-color-success-light-9: rgb(239.8, 248.9, 235.3);
    --p-color-success-dark-2: rgb(82.4, 155.2, 46.4);
    --p-color-warning: #e6a23c;
    --p-color-warning-light-3: rgb(237.5, 189.9, 118.5);
    --p-color-warning-light-5: rgb(242.5, 208.5, 157.5);
    --p-color-warning-light-7: rgb(247.5, 227.1, 196.5);
    --p-color-warning-light-8: rgb(250, 236.4, 216);
    --p-color-warning-light-9: rgb(252.5, 245.7, 235.5);
    --p-color-warning-dark-2: rgb(184, 129.6, 48);
    --p-color-danger: #f56c6c;
    --p-color-danger-light-3: rgb(248, 152.1, 152.1);
    --p-color-danger-light-5: rgb(250, 181.5, 181.5);
    --p-color-danger-light-7: rgb(252, 210.9, 210.9);
    --p-color-danger-light-8: rgb(253, 225.6, 225.6);
    --p-color-danger-light-9: rgb(254, 240.3, 240.3);
    --p-color-danger-dark-2: rgb(196, 86.4, 86.4);
    --p-color-error: #f56c6c;
    --p-color-error-light-3: rgb(248, 152.1, 152.1);
    --p-color-error-light-5: rgb(250, 181.5, 181.5);
    --p-color-error-light-7: rgb(252, 210.9, 210.9);
    --p-color-error-light-8: rgb(253, 225.6, 225.6);
    --p-color-error-light-9: rgb(254, 240.3, 240.3);
    --p-color-error-dark-2: rgb(196, 86.4, 86.4);
    --p-color-info: #909399;
    --p-color-info-light-3: rgb(177.3, 179.4, 183.6);
    --p-color-info-light-5: rgb(199.5, 201, 204);
    --p-color-info-light-7: rgb(221.7, 222.6, 224.4);
    --p-color-info-light-8: rgb(232.8, 233.4, 234.6);
    --p-color-info-light-9: rgb(243.9, 244.2, 244.8);
    --p-color-info-dark-2: rgb(115.2, 117.6, 122.4);
    --p-bg-color-main: #0f172a;
    --p-bg-color-main-light-05: #182033;
    --p-bg-color-main-light-10: #222a3d;
    --p-bg-color: #ffffff;
    --p-bg-color-page: #f4f7fb;
    --p-bg-color-overlay: #ffffff;
    --p-text-color-primary: #303133;
    --p-text-color-regular: #606266;
    --p-text-color-secondary: #909399;
    --p-text-color-placeholder: #a8abb2;
    --p-text-color-disabled: #c0c4cc;
    --p-border-color: #dcdfe6;
    --p-border-color-light: #e4e7ed;
    --p-border-color-lighter: #ebeef5;
    --p-border-color-extra-light: #f2f6fc;
    --p-border-color-dark: #d4d7de;
    --p-border-color-darker: #cdd0d6;
    --p-fill-color: #f0f2f5;
    --p-fill-color-light: #f5f7fa;
    --p-fill-color-lighter: #fafafa;
    --p-fill-color-extra-light: #fafcff;
    --p-fill-color-dark: #ebedf0;
    --p-fill-color-darker: #e6e8eb;
    --p-fill-color-blank: #ffffff;
    --p-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
    --p-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
    --p-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
    --p-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
    --p-disabled-bg-color: var(--fill-color-light);
    --p-disabled-text-color: var(--text-color-placeholder);
    --p-disabled-border-color: var(--border-color-light);
    --p-overlay-color: rgba(0, 0, 0, .8);
    --p-overlay-color-light: rgba(0, 0, 0, .7);
    --p-overlay-color-lighter: rgba(0, 0, 0, .5);
    --p-mask-color: rgba(255, 255, 255, .9);
    --p-mask-color-extra-light: rgba(255, 255, 255, .3);
    --p-border-width: 1px;
    --p-border-style: solid;
    --p-border-color-hover: var(--text-color-disabled);
    --p-border: var(--border-width) var(--border-style) var(--border-color);
    --p-svg-monochrome-grey: var(--border-color)
}


:root {
    --vp-screen-max-width: 1376px;
    --text-color: var(--p-text-color-primary);
    --text-color-light: var(--p-text-color-regular);
    --text-color-lighter: var(--p-text-color-secondary);
    --brand-color: var(--p-color-primary);
    --brand-color-light: var(--p-color-primary-light-1);
    --bg-brand-color: var(--p-color-primary-light-9);
    --bg-color: var(--p-bg-color);
    --bg-color-rgb: 255, 255, 255;
    --bg-color-soft: #fafafa;
    --bg-color-mute: #f2f2f2;
    --border-color: var(--p-border-color);
    --border-color-light: var(--p-border-color-lighter);
    --font-family: var(--p-font-family);
    --font-family-mono: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    --font-size-base: var(--p-font-size-base);
    --success-color: var(--p-color-success);
    --warning-color: var(--p-color-warning);
    --danger-color: var(--p-color-danger);
    --purple-color: #6222c2;
    --purple-color-light: #9065db;
    --header-height: 55px;
    --nav-height: 55px;
    --vp-screen-max-width: 1362px;
    --vp-sidebar-width-mobile: 320px;
    --vp-sidebar-width-small: 230px;
    --sidebar-width-sm: 16rem;
    --sidebar-width-xs: 20rem;
    --content-min-width: 16rem;
    --content-max-width: 48rem;
    --nav-z-index: 12;
    --sub-nav-z-index: 11;
    --sidebar-z-index: 11;
    --sidebar-z-index-mobile: 31;
    --overlay-z-index: 30;
    --code-line-height: 1.4;
    --code-font-size: var(--p-font-size-base);
    --code-bg-color: var(--p-fill-color-light);
    --code-text-color: var(--text-color);
    --code-font-family: var(--font-family-mono);
    --code-tooltip-bg-color: var(--code-bg-color);
    --code-tooltip-color: #0c61c9;
    --block-tip-bg-color: rgba(var(--p-color-primary-rgb), .1);
    --block-warning-bg-color: rgba(var(--p-color-danger-rgb), .1);
    --link-active-bg-color: rgba(var(--p-color-primary-rgb), .1)
}
